@model xyzWebApp.Models.Product

@{
    ViewData["Title"] = "Edit";
}

<h1 class="font-monospace">Edit</h1>

<h4 class="font-monospace">Product</h4>
<hr />

<form class="font-monospace" asp-action="Edit" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <div class="form-group font-monospace">
        <label asp-for="Sku" class="control-label"></label>
        <input asp-for="Sku" class="form-control" />
        <span asp-validation-for="Sku" class="text-danger"></span>
    </div>
    <div class="form-group font-monospace">
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group font-monospace">
        <label asp-for="Description" class="control-label"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group font-monospace">
        <label asp-for="InStock" class="control-label"></label>
        <input asp-for="InStock" class="form-control" />
        <span asp-validation-for="InStock" class="text-danger"></span>
    </div>
    <div class="form-group font-monospace">
        <label asp-for="Price" class="control-label"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <hr />
    <div class="form-group font-monospace">
        <label asp-for="Image" class="control-label"></label>
        <input type="hidden" asp-for="Image" class="form-control"/>
        <img src="~/images/products/@Model.Image" width="384" height="256"/>
    </div>
    <div class="form-group font-monospace">
        <label class="control-label">Upload new image</label>
        <input type="file" name="newImage" class="form-control"/>
    </div>
    <partial name="~/Areas/Admin/Views/Shared/_CategoryDropDownPartial.cshtml"/>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary"/>
    </div>
</form>


<div>
    <a class="font-monospace" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
